<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2026 The Android Open Source Project -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.verify.vbs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.UWB_RANGING" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-sdk android:minSdkVersion="31" android:targetSdkVersion="34" />

    <application
        android:allowBackup="true"
        android:label="Verify Bundled Steps"
        android:supportsRtl="true">

        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation
        android:name="com.android.verify.vbs.VbsInstrumentation"
        android:targetPackage="com.android.verify.vbs"
        android:label="Verify Bundled Steps Instrumentation Runner" />
</manifest>
